{{ backup_user }} ALL=(ALL) NOPASSWD: /usr/bin/btrfs subvolume delete {{ backup_home }}/backup/archive-snapshots/*
{{ backup_user }} ALL=(ALL) NOPASSWD: /usr/bin/btrfs subvolume show {{ backup_home }}/backup/archive-snapshots/*
{{ backup_user }} ALL=(ALL) NOPASSWD: /usr/bin/btrfs subvolume create {{ backup_home }}/backup/archive-snapshots
